In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/movielens-20m-dataset/rating.csv
/kaggle/input/movielens-20m-dataset/link.csv
/kaggle/input/movielens-20m-dataset/genome_tags.csv
/kaggle/input/movielens-20m-dataset/genome_scores.csv
/kaggle/input/movielens-20m-dataset/tag.csv
/kaggle/input/movielens-20m-dataset/movie.csv

In [2]:
df_rating=pd.read_csv('/kaggle/input/movielens-20m-dataset/rating.csv')
df_movie=pd.read_csv('/kaggle/input/movielens-20m-dataset/movie.csv')

In [3]:
df_rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [4]:
print(df_movie[df_movie['title']=='3 Idiots (2009)'])
df_movie.head()

       movieId            title                genres
14775    73881  3 Idiots (2009)  Comedy|Drama|Romance

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
df_new2=pd.merge(df_rating,df_movie,on=['movieId'])
df_new2.head(20)
# print(df_new2[df_new2['movieId']==73881])

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,5,2,3.0,1996-12-25 15:26:09,Jumanji (1995),Adventure|Children|Fantasy
2,13,2,3.0,1996-11-27 08:19:02,Jumanji (1995),Adventure|Children|Fantasy
3,29,2,3.0,1996-06-23 20:36:14,Jumanji (1995),Adventure|Children|Fantasy
4,34,2,3.0,1996-10-28 13:29:44,Jumanji (1995),Adventure|Children|Fantasy
5,54,2,3.0,2000-11-22 18:36:16,Jumanji (1995),Adventure|Children|Fantasy
6,88,2,1.0,2004-10-20 13:12:18,Jumanji (1995),Adventure|Children|Fantasy
7,91,2,3.5,2005-03-29 01:55:58,Jumanji (1995),Adventure|Children|Fantasy
8,116,2,2.0,2005-11-23 06:41:08,Jumanji (1995),Adventure|Children|Fantasy
9,119,2,4.0,1996-10-12 08:57:47,Jumanji (1995),Adventure|Children|Fantasy
10,120,2,1.0,1996-07-23 20:23:45,Jumanji (1995),Adventure|Children|Fantasy
11,124,2,2.0,2005-12-13 12:18:50,Jumanji (1995),Adventure|Children|Fantasy
12,127,2,3.0,1996-11-04 17:10:55,Jumanji (1995),Adventure|Children|Fantasy
13,128,2,3.0,1998-07-18 00:15:58,Jumanji (1995),Adventure|Children|Fantasy
14,129,2,3.0,2010-09-02 17:31:41,Jumanji (1995),Adventure|Children|Fantasy
15,131,2,1.0,2009-03-29 11:41:01,Jumanji (1995),Adventure|Children|Fantasy
16,132,2,3.0,2005-04-22 12:29:57,Jumanji (1995),Adventure|Children|Fantasy
17,137,2,3.0,2001-06-17 17:09:31,Jumanji (1995),Adventure|Children|Fantasy
18,142,2,4.0,1996-05-30 12:17:38,Jumanji (1995),Adventure|Children|Fantasy
19,152,2,3.0,2006-10-18 23:47:31,Jumanji (1995),Adventure|Children|Fantasy

In [6]:
movie_rating_count=df_new2.groupby(['title'])['rating'].count().reset_index().rename(columns={'rating':'totalrating'})
df_temp=pd.merge(df_new2,movie_rating_count,left_on=['title'],right_on=['title'],how='left')
df_temp.head(20)

,userId,movieId,rating,timestamp,title,genres,totalrating
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy,22243
1,5,2,3.0,1996-12-25 15:26:09,Jumanji (1995),Adventure|Children|Fantasy,22243
2,13,2,3.0,1996-11-27 08:19:02,Jumanji (1995),Adventure|Children|Fantasy,22243
3,29,2,3.0,1996-06-23 20:36:14,Jumanji (1995),Adventure|Children|Fantasy,22243
4,34,2,3.0,1996-10-28 13:29:44,Jumanji (1995),Adventure|Children|Fantasy,22243
5,54,2,3.0,2000-11-22 18:36:16,Jumanji (1995),Adventure|Children|Fantasy,22243
6,88,2,1.0,2004-10-20 13:12:18,Jumanji (1995),Adventure|Children|Fantasy,22243
7,91,2,3.5,2005-03-29 01:55:58,Jumanji (1995),Adventure|Children|Fantasy,22243
8,116,2,2.0,2005-11-23 06:41:08,Jumanji (1995),Adventure|Children|Fantasy,22243
9,119,2,4.0,1996-10-12 08:57:47,Jumanji (1995),Adventure|Children|Fantasy,22243
10,120,2,1.0,1996-07-23 20:23:45,Jumanji (1995),Adventure|Children|Fantasy,22243
11,124,2,2.0,2005-12-13 12:18:50,Jumanji (1995),Adventure|Children|Fantasy,22243
12,127,2,3.0,1996-11-04 17:10:55,Jumanji (1995),Adventure|Children|Fantasy,22243
13,128,2,3.0,1998-07-18 00:15:58,Jumanji (1995),Adventure|Children|Fantasy,22243
14,129,2,3.0,2010-09-02 17:31:41,Jumanji (1995),Adventure|Children|Fantasy,22243
15,131,2,1.0,2009-03-29 11:41:01,Jumanji (1995),Adventure|Children|Fantasy,22243
16,132,2,3.0,2005-04-22 12:29:57,Jumanji (1995),Adventure|Children|Fantasy,22243
17,137,2,3.0,2001-06-17 17:09:31,Jumanji (1995),Adventure|Children|Fantasy,22243
18,142,2,4.0,1996-05-30 12:17:38,Jumanji (1995),Adventure|Children|Fantasy,22243
19,152,2,3.0,2006-10-18 23:47:31,Jumanji (1995),Adventure|Children|Fantasy,22243

In [10]:
def create_user_movie_df():
    rating_counts = pd.DataFrame(df_new2["title"].value_counts())
    rating_counts.describe([0.05, 0.50, 0.75, 0.85, 0.90, 0.95, 0.99]).T
    limit = rating_counts.quantile([0.90]).T
    limit_90 = limit[0.9][0]
    rare_movies = rating_counts[rating_counts["title"] <= limit_90].index
    common_movies =df_new2[~df_new2["title"].isin(rare_movies)]
    user_movie_df = common_movies.pivot_table(index="userId", columns="title", values="rating")
    return user_movie_df

In [12]:
table=create_user_movie_df().fillna(0)
# table=rating_popular.pivot_table(index="userId", columns="title", values="rating")
table.head()
# table.loc['Primer (2004)',:]

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),127 Hours (2010),...,Young Guns II (1990),Young Sherlock Holmes (1985),Zack and Miri Make a Porno (2008),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# table = table.loc[no_user_voted[no_user_voted > 10].index,:]
# table=table.loc[:,no_movies_voted[no_movies_voted > 50].index]
table.shape

(138493, 2672)

In [14]:
y=[]
for i in table.columns:
    y.append(table[i].mean())
y=pd.Series(data=y)
y.head()
# y['Batman Begins (2005)']

0    0.071318
1    0.158412
2    0.040536
3    0.291296
4    0.033814
dtype: float64

In [15]:
from scipy.sparse import csr_matrix
movie_matrix=csr_matrix(table.values)
from sklearn.neighbors import NearestNeighbors
from sklearn.linear_model import LinearRegression
# model=NearestNeighbors(metric='cosine',algorithm='brute')
model=LinearRegression()
model.fit(movie_matrix.T,y)

LinearRegression()

In [16]:
def rearrange(arr, n, x):

    m = {}
    l = {}
    l2= []
    for i in range(n):
        m[abs(x-arr[i])]=arr[i]
    for i in sorted (m.keys()):
        l2.append(m[i])
    return l2

In [30]:

# distance,indices=model.kneighbors(table.iloc[index,:].values.reshape(1,-1),n_neighbors=6)
def rec(movie_name):
    name=""
    for i in table.columns:
        if movie_name in i:
            name=i
            break
    print(name)
#     y_pred=[]
    y_pred=model.predict(table.loc[:,name].values.reshape(1,-1))
#     print(y_pred)
#     y_pred=model.predict(table.loc[name].values.reshape(1,-1))
    l2=[]
    arr=y.tolist()
#     print(type(arr))
    l2=rearrange(arr,len(arr),y_pred[0])
    l3=table.columns
#     print(index)
    # print(y)
    # print(table.index[index])
#     print(table.index[index])
#     print(y_pred)
    number=6
    for i in range(0,number):
        if i!=0:
            print(l3[y[y == l2[i]].index[0]])

In [31]:
rec('Fight Club')

Fight Club (1999)
Dances with Wolves (1990)
Seven (a.k.a. Se7en) (1995)
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
Back to the Future (1985)
Fargo (1996)

In [32]:
rec('Primer')

Primer (2004)
Speed 2: Cruise Control (1997)
Last Temptation of Christ, The (1988)
Screamers (1995)
Legend (1985)
Nick of Time (1995)

In [33]:
rec('Ratatouille')

Ratatouille (2007)
James and the Giant Peach (1996)
French Connection, The (1971)
Hunchback of Notre Dame, The (1996)
Blue Velvet (1986)
Hotel Rwanda (2004)

In [34]:
rec('Slumdog Millionaire')

Slumdog Millionaire (2008)
Gremlins (1984)
William Shakespeare's Romeo + Juliet (1996)
Lady and the Tramp (1955)
Garden State (2004)
Breakfast at Tiffany's (1961)

In [35]:
rec('Life of Pi')

Life of Pi (2012)
American Wedding (American Pie 3) (2003)
About Last Night... (1986)
Squid and the Whale, The (2005)
My Man Godfrey (1936)
Girl Next Door, The (2004)

In [37]:
rec('Apollo 13')

Apollo 13 (1995)
American Beauty (1999)
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Star Wars: Episode VI - Return of the Jedi (1983)
Godfather, The (1972)
Star Wars: Episode V - The Empire Strikes Back (1980)